.container{
    background-image: url("https://applescoop.org/image/wallpapers/mac/london-england-uk-united-kingdom-cityscape-city-lights-skyscrapers-the-shard-17-09-2024-1726605597.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}