@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --darkBlue: #190045;
  --lightBlue: #9AEDFF;
  --cyan: #2CFFDE;
  --black: #000000;

}

body {
  @apply flex flex-col min-h-[100vh];
}

footer {
  @apply mt-auto;
  }

@media (prefers-color-scheme: ligth) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --darkBlue: #190045;
    --lightBlue: #9AEDFF;
    --cyan: #2CFFDE;
    --black: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-primary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.padding-section{
  @apply flex  flex-col items-center my-28;
}

.container {
  @apply py-0 px-6 max-w-screen-xl my-0 mx-auto ;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  font-weight: 700;
}

th,
tr, 
td,
tbody{
  font-family: var(--font-primary);
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 16px;
  font-weight: 500;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 10px;
}

p {
  font-size: 20px
}