.box{
    @apply box-content relative w-full py-20 flex flex-col justify-between text-black 
}

.nextStep{
    @apply absolute bottom-1/3 right-8
}

.backStep{
    @apply absolute bottom-1/3 left-8
}

.inputStyle{
    @apply  border border-primary p-2 my-4 rounded-lg focus:outline-none focus:ring-1 focus:ring-secondary hover:border-[#4DBDFF]
}

.inputStyleDisabled{
    @apply  border border-primary p-2 my-4 rounded-lg focus:outline-none focus:ring-1 focus:ring-secondary 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  
  .heading {
    color: #190045;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .inputLabel {
    font-size: 0.9rem;
    color: #171717;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  
  .fileInput {
    padding: 1rem;
    border: 2px dashed #9AEDFF;
    border-radius: 8px;
    background-color: #2CFFDE;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .fileInput:hover {
    background-color: #9AEDFF;
  }
  
  .button {
    margin-top: 1rem;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    background-color: #190045;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #9AEDFF;
    transform: scale(1.05);
  }
  
  .instructions {
    color: #941010;
    font-size: 0.85rem;
    text-align: center;
    margin-top: 0.5rem;
  }
  
  .previewCount {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #171717;
  }

  /* para que no aparezca la flecha del input es todo el código de abajo */
.numberInput {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.numberInput::-webkit-outer-spin-button,
.numberInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.box {
  @apply box-content relative w-full py-20 flex flex-col justify-between text-black;
}

.nextStep {
  @apply absolute bottom-1/3 right-8;
}

.backStep {
  @apply absolute bottom-1/3 left-8;
}

.inputStyle {
  @apply border border-primary p-2 my-4 rounded-lg focus:outline-none focus:ring-1 focus:ring-secondary hover:border-[#4DBDFF];
  appearance: none; /* Remueve las flechas en navegadores compatibles */
}

/* Para ocultar las flechas en Chrome */
.inputStyle[type="number"]::-webkit-outer-spin-button,
.inputStyle[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none; /* Añade soporte estándar */
  margin: 0;
}

  .imagesUploaded{
    transition: 0.4s;
    margin-top: 15px;
    width: 200px;
    height: 200px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .imagesUploaded:hover{
    transition: 0.4s;
    width: 220px;
    height: 220px;;
  }

  .divImagesUploaded{
    transition: 0.4s;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
